# --- System & Secrets ---
.DS_Store
.env

# --- local data + code ---
npm_data/
npm_letsencrypt/
local_agent/
infra/cert-monitor-key.pem
infra/secrets.tfvars

# --- Scratchpad & Dev Files ---
containers/
extra/

# --- Global IDE settings ---
.vscode/
.idea/

# Terraform Secrets & State
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform*

# SSH Keys
*.pem