version: '3.8'

services:
  # --- 1. Database ---
  db:
    image: postgres:15-alpine
    container_name: cert_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: certdb
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # --- 2. Backend (Go) ---
  backend:
    image: ghcr.io/shubhamsharanofficial-pixel/cert-backend:latest
    pull_policy: always
    
    container_name: cert_backend
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    environment:
      DB_CONN: "postgres://postgres:${DB_PASSWORD}@db:5432/certdb?sslmode=disable"
      PORT: "8080"
      FRONTEND_URL: "${FRONTEND_URL}"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # --- 3. Frontend (React/Nginx) ---
  frontend:
    image: ghcr.io/shubhamsharanofficial-pixel/cert-frontend:latest
    pull_policy: always
    
    container_name: cert_frontend
    restart: always
    depends_on:
      - backend
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  # --- 4. Nginx Proxy Manager (SSL Gateway) ---
  npm:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: cert_npm
    restart: always
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    volumes:
      - ./npm_data:/data
      - ./npm_letsencrypt:/etc/letsencrypt
    depends_on:
      - frontend
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  postgres_data: